@page
@model PRN211_Project.Pages.TeacherInCourses.EditModel

@{
    ViewData["Title"] = "Edit";
}

<body onload="@((Model.Status) ? $"showNotFoundModal('{Model.Message}')" : "")">
    <h1 class=" text-white mt-2">Teacher Management</h1>
    <div class="container bg-light text-black rounded">
        <div class="container py-2">
            <h4>Subject lecturer</h4>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="TeacherDetail.Id" />
                        <div class="form-group mb-2">
                            <label asp-for="TeacherDetail.TeacherId" class="control-label">Teacher</label>
                            <select asp-for="TeacherDetail.TeacherId" class="form-control" asp-items="ViewBag.TeacherId"></select>
                            <span asp-validation-for="TeacherDetail.TeacherId" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-2">
                            <label asp-for="TeacherDetail.CourseId" class="control-label">Subject</label>
                            <select asp-for="TeacherDetail.CourseId" class="form-control" asp-items="ViewBag.CourseId"></select>
                            <span asp-validation-for="TeacherDetail.CourseId" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div> 
            <div>
                <a asp-page="./Index"><i class="fas fa-arrow-left"></i> Back to List</a>
            </div>
        </div>
    </div>
</body>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
